/* -----------  COMPONENTS ---------- */

#keyboard{
    width: 300px;
    height: 300px;
    padding: 10px;
}

#console{
    width: 300px;
    height: 300px;
}

#drum-machine{
    background-color: black;
}

#drum-machine-table{
    border: dotted 1px yellow;
    border-radius: 10px;
}


/* -----------  KEYBOARD ---------- */



/* -----------  DISPLAY ---------- */

#display-box{
    border: dotted 1px yellow;
    border-radius: 2px;
}

#display{
    color: white;
    font-family: monospace;
    font-size: larger;
}




@media only screen and (max-width: 600px) {
    /* change the layout to have the keyboard bottom and console on top */
    #drum-machine-table{
        flex-direction: column-reverse !important;
    }
    #console{
        height: 100px;
    }
  }